body {
    font-family: 'Open Sans', sans-serif;
}
/* INIZIO GENERICHE */

a {
    text-decoration: none;
}

.btn {
    background-color: #0061ff;
    padding: 5px 20px;
    color: white;
}

.container-stretto {
    max-width: 1200px;
    min-height: 400px;
    margin: 0px auto;
}

.container-small {
    max-width: 1200px;
    margin: 0 auto;
}

.container-xs {
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
    font-weight: 800;
}

h2 {
    font-size: 40px;
}


h3 {
    font-size: 26px;
}

/* FINE GENERICHE */

/* HEADER */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.container-header {
    min-height: 80px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

/* FINE HEADER */

/*  INIZIO MAIN */
.jumbo-bg {
    background-color: #b4d0e7;
}

.jumbo {
    max-width: 1400px;
    margin: 80px auto;
}

.secondo-blocco {
    height: 100px;
}

.dimensione-immagine {
    width: 86%;
    justify-content: flex-start;    
}

.fa-arrow-down {
    font-size: 40px;
}

.card-item {
    border: 1px solid lightgray;
    padding: 10px;
}

.card-item-center {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: lightgrey;
    padding: 32px;
}

.btn-card {
    background-color: #0061ff;
    padding: 15px 45px;
    color: white;
}

.link-card {
    text-decoration: underline;
    color: #0061ff;
}

hr {
    border: 1px solid lightgray;
    width: 20%;
}

.fa-check {
    color: #0061ff;
    font-size: 20px;
}

.partner-img {
    width: 100%;
}

.carta-wrap {
    width: 100%;
}

.btn-partner {
    border: 1px solid black;
    padding: 15px;
    color: black;
}

/*  FINE MAIN */

.container-a-blocchi {
    max-width: 100%;
    background-color: #F5F5F5;
    height: 600px;
}

.logo-card {
    filter: invert(1);
    width: 100%;
}

.logo-design {
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}

.logo-arizona {
    background-color: #61082B;
}

.logo-uniflorida {
    background-color: #0093CE;
}

.logo-topps {
    background-color: #FF1C1C;
}

.logo-wbr {
    background-color: #D5001F;
}

.logo-corp {
    background-color: #B4D0E7;
}

.logo-lonely {
    background-color: #0D2481;
}

.logo-clear-channel {
    background-color: #FFD830;
}

.btn-dropbox-business {
    background-color: white;
    color: black;
}

.logo-corp h2 {
    color: #61082B;
}

#box-domande hr {
    width: 100%;
}

/* FINE MAIN */

/* INIZIO FOOTER */

footer {
    color: white;
}

footer a {
    color: white;
}

footer hr {
    width: 10%;
}

.language {
    color: lightgray;
}

/* HOVER */

.fa-angle-up {
    display: none;
}

.risposta {
    display: none;
}

.cambio-angle:hover .fa-angle-down {
    display: none;
}

.cambio-angle:hover .fa-angle-up {
    display: block;
    padding-bottom: 64px;
}

.cambio-angle:hover .domanda {
    display: none;
}

.cambio-angle:hover .risposta {
    display: block;
}

