body {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    min-height: 80px;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #0061ff;
    padding: 5px 20px;
    color: white;
}

.jumbo-bg {
    background-color: #b4d0e7;
}

.jumbo {
    max-width: 1400px;
    margin: 80px auto;
}

.secondo-blocco {
    height: 100px;
}

.dimensione-immagine {
    width: 86%;
    justify-content: flex-start;    
}

h1 {
    font-size: 80px;
    font-weight: 800;
}

p {
    font-size: 17px;
}

.fa-arrow-down {
    font-size: 40px;
}

.container-stretto {
    max-width: 1200px;
    min-height: 400px;
    margin: 0px auto;
}

.card-item {
    min-height: 500px;
    border: 1px solid lightgray;
}

.partner-img {
    width: 100%;
}

.carta-wrap {
    min-height: 50px;
}