body {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    min-height: 80px;
    background-color: white;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #0061ff;
    padding: 5px 20px;
    color: white;
}

.jumbo-bg {
    background-color: #b4d0e7;
}

.jumbo {
    max-width: 1400px;
    margin: 80px auto;
}

.secondo-blocco {
    height: 100px;
}

.dimensione-immagine {
    width: 86%;
    justify-content: flex-start;    
}

h1 {
    font-size: 80px;
    font-weight: 800;
}

.fa-arrow-down {
    font-size: 40px;
}

.container-stretto {
    max-width: 1200px;
    min-height: 400px;
    margin: 0px auto;
}

.container-card {
    max-width: 1200px;
    margin: 0 auto;
}

.card-item {
    border: 1px solid lightgray;
    padding: 10px;
}

.card-item-center {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: lightgrey;
    padding: 32px;
}

.btn-card {
    background-color: #0061ff;
    padding: 15px 45px;
    color: white;
}

h3 {
    font-size: 26px;
}

.link-card {
    text-decoration: underline;
    color: #0061ff;
}

hr {
    border: 1px solid lightgray;
    width: 20%;
}

.fa-check {
    color: #0061ff;
    font-size: 20px;
}




.partner-img {
    width: 100%;
}

.carta-wrap {
    min-height: 50px;
}

h2 {
    font-size: 30px;
}